<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.muensterer.workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>06F83E19-2168-4049-A2A6-3CA32B415E55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBA1FC96-5250-4108-92BF-CDA798E14435</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>088CCB8C-6675-41AB-BA04-297DFDD61F84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63B6CF29-DC56-4988-ACE3-4FD6A94AB4BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E6F9DDE-D832-43CF-9AF1-FF7DE1F57335</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62B1A97F-6362-445E-8B03-6AB67D5D6714</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>114F2509-737A-441F-84ED-7A9DF59D72DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53B749AC-C923-47AD-83E4-7FCB95EAD329</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>157E4F33-FB00-4083-B66C-6C685B447C4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15690745-F422-4440-8CE3-BFD8C926AB22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26878E53-FCDA-43DB-AFC7-F71022C7D2BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DC7DF16-1305-4061-BDAD-B0240494F684</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>422086DC-A077-4B5F-912A-D9F3F76ECC79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>239A1018-62B3-4756-A2E3-171FE84854E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DC7DF16-1305-4061-BDAD-B0240494F684</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>088CCB8C-6675-41AB-BA04-297DFDD61F84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2D2F4080-6BDB-4111-A568-1560814C9CAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE077581-924E-4A47-8CA7-C804F5FAF70B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>75BA9EF7-AAA6-4262-8C7B-C8F1B13869EF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B379D234-A7DE-429B-AA8A-0295D00A40A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>84931BDE-0F40-476A-A532-2012AB2F49A2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E9E62830-E12C-4D4A-805C-72E1153832B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0C1C09A2-9987-4A4F-99C6-3C241423A2B1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61B12F44-6635-478C-A2DA-4DFA62BE47B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB5B06B9-0523-4F03-965C-1268E5F88889</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>972C9FB4-D19F-494C-B4D4-79C3054E39F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63B6CF29-DC56-4988-ACE3-4FD6A94AB4BB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open workflow path in Atom</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B19ACCA-B24F-43C0-AE88-B9BC44D34449</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>391FEAC0-1A22-43D8-A2A7-1DB93761B5A8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Reveal Folder in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D764FA7A-FE21-4B1C-B0F8-ED2724350435</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Launch extension with the first keyword</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C802E847-D9E1-4AEE-B4CB-150C888EE0BB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Export extension - Default: ~/Downloads, customize this value in export.json</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0E6F9DDE-D832-43CF-9AF1-FF7DE1F57335</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Enable/Disable extension</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE077581-924E-4A47-8CA7-C804F5FAF70B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>775763A0-A467-4C0E-96C9-FD8192AF83A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B379D234-A7DE-429B-AA8A-0295D00A40A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6486D0FE-F65A-4E3C-92A2-D1CA112078A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1E9697F3-77CA-4114-8428-59C91900396C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in preview</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C802E847-D9E1-4AEE-B4CB-150C888EE0BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8C9CCA4-8A3F-4671-97BE-33E28142D52B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBA1FC96-5250-4108-92BF-CDA798E14435</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE90FFB0-2AFE-47C1-B58F-1852E7C7BE56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9E62830-E12C-4D4A-805C-72E1153832B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D96EC7EE-E86A-4B0A-91B4-119C3F8B15EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B179777-691E-4892-A438-444FA18F16B2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download with wget</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>114F2509-737A-441F-84ED-7A9DF59D72DB</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open favicon in browser</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB5B06B9-0523-4F03-965C-1268E5F88889</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26878E53-FCDA-43DB-AFC7-F71022C7D2BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE90FFB0-2AFE-47C1-B58F-1852E7C7BE56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>239A1018-62B3-4756-A2E3-171FE84854E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5F1AD94-4C74-4BF1-899D-0318CCECD96E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32612F50-7456-4CAD-A217-70F123320EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6C45661-B4CE-427F-950F-7D080B0E8D62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C2C93E7-1348-40E1-8DAB-B13425062330</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dennis Muensterer</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>wf</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>python ./src/main.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List and view details about installed Alfred extensions</string>
				<key>title</key>
				<string>Manage Alfred Extension</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>972C9FB4-D19F-494C-B4D4-79C3054E39F8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waking Alfred...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Workflow Helper</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>61B12F44-6635-478C-A2DA-4DFA62BE47B6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

open -na Atom $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>63B6CF29-DC56-4988-ACE3-4FD6A94AB4BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>:</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>EB5B06B9-0523-4F03-965C-1268E5F88889</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:WORKFLOWS_DIRECTORY}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>088CCB8C-6675-41AB-BA04-297DFDD61F84</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>9B19ACCA-B24F-43C0-AE88-B9BC44D34449</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>26878E53-FCDA-43DB-AFC7-F71022C7D2BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sh acshell.sh "{query}" --extract</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>775763A0-A467-4C0E-96C9-FD8192AF83A2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>sh ./src/acshell.sh "{query}" --start</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Extract icon of selected app</string>
				<key>title</key>
				<string>Extract icon</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AE077581-924E-4A47-8CA7-C804F5FAF70B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>atom</string>
						<key>outputlabel</key>
						<string>atom</string>
						<key>uid</key>
						<string>2D2F4080-6BDB-4111-A568-1560814C9CAF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>icon</string>
						<key>outputlabel</key>
						<string>icon</string>
						<key>uid</key>
						<string>75BA9EF7-AAA6-4262-8C7B-C8F1B13869EF</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>icns</string>
						<key>outputlabel</key>
						<string>icns</string>
						<key>uid</key>
						<string>84931BDE-0F40-476A-A532-2012AB2F49A2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:split1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>favicon</string>
						<key>outputlabel</key>
						<string>favicon</string>
						<key>uid</key>
						<string>0C1C09A2-9987-4A4F-99C6-3C241423A2B1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4DC7DF16-1305-4061-BDAD-B0240494F684</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>391FEAC0-1A22-43D8-A2A7-1DB93761B5A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>online</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>06F83E19-2168-4049-A2A6-3CA32B415E55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>sh acshell.sh "{query}" --download</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EE90FFB0-2AFE-47C1-B58F-1852E7C7BE56</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>online</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait…</string>
				<key>script</key>
				<string>python ./src/acpython.py "{query}" --list</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type in app name or app URL (more relevant)</string>
				<key>title</key>
				<string>Find app icons online</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CBA1FC96-5250-4108-92BF-CDA798E14435</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python launch.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D764FA7A-FE21-4B1C-B0F8-ED2724350435</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Export</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8C9CCA4-8A3F-4671-97BE-33E28142D52B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} saved to Desktop</string>
				<key>title</key>
				<string>Icon extraction successful</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>239A1018-62B3-4756-A2E3-171FE84854E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>notify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>422086DC-A077-4B5F-912A-D9F3F76ECC79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python export.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C802E847-D9E1-4AEE-B4CB-150C888EE0BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python toggle.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E6F9DDE-D832-43CF-9AF1-FF7DE1F57335</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Toggle visibility</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>62B1A97F-6362-445E-8B03-6AB67D5D6714</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6486D0FE-F65A-4E3C-92A2-D1CA112078A2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>icns</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>⛏ Digging for icons...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./src/icns.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for icons in /System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/</string>
				<key>title</key>
				<string>Get system icon</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B379D234-A7DE-429B-AA8A-0295D00A40A9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E9697F3-77CA-4114-8428-59C91900396C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{snippet:query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5C2C93E7-1348-40E1-8DAB-B13425062330</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>com.runningwithcrayons.Alfred</string>
				<key>keyword</key>
				<string>sqr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>F5F1AD94-4C74-4BF1-899D-0318CCECD96E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>com.runningwithcrayons.Alfred</string>
				<key>keyword</key>
				<string>qry</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>F6C45661-B4CE-427F-950F-7D080B0E8D62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>'{snippet:query}'</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>32612F50-7456-4CAD-A217-70F123320EBE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node ./src/favicon.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D96EC7EE-E86A-4B0A-91B4-119C3F8B15EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>com.runningwithcrayons.Alfred</string>
				<key>keyword</key>
				<string>cmd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>157E4F33-FB00-4083-B66C-6C685B447C4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{snippet:split1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>15690745-F422-4440-8CE3-BFD8C926AB22</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>favicon</string>
				<key>subtext</key>
				<string>Saves to ~/Downloads</string>
				<key>text</key>
				<string>Get favicon from url</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9E62830-E12C-4D4A-805C-72E1153832B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n $query

/usr/local/bin/wget $query/favicon.ico --directory-prefix=$HOME/Downloads/</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B179777-691E-4892-A438-444FA18F16B2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>53B749AC-C923-47AD-83E4-7FCB95EAD329</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}/favicon.ico</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>114F2509-737A-441F-84ED-7A9DF59D72DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06F83E19-2168-4049-A2A6-3CA32B415E55</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>088CCB8C-6675-41AB-BA04-297DFDD61F84</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>0E6F9DDE-D832-43CF-9AF1-FF7DE1F57335</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>114F2509-737A-441F-84ED-7A9DF59D72DB</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>15690745-F422-4440-8CE3-BFD8C926AB22</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>(requires snippet)</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>157E4F33-FB00-4083-B66C-6C685B447C4F</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>autocomplete {query}</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>1E9697F3-77CA-4114-8428-59C91900396C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>open in finder</string>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>239A1018-62B3-4756-A2E3-171FE84854E0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>26878E53-FCDA-43DB-AFC7-F71022C7D2BC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>32612F50-7456-4CAD-A217-70F123320EBE</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>(requires snippet)</string>
			<key>xpos</key>
			<integer>1145</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>391FEAC0-1A22-43D8-A2A7-1DB93761B5A8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>422086DC-A077-4B5F-912A-D9F3F76ECC79</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>4DC7DF16-1305-4061-BDAD-B0240494F684</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>53B749AC-C923-47AD-83E4-7FCB95EAD329</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>5C2C93E7-1348-40E1-8DAB-B13425062330</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>(requires snippet)</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>61B12F44-6635-478C-A2DA-4DFA62BE47B6</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>62B1A97F-6362-445E-8B03-6AB67D5D6714</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>63B6CF29-DC56-4988-ACE3-4FD6A94AB4BB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>open in atom</string>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6486D0FE-F65A-4E3C-92A2-D1CA112078A2</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>6B179777-691E-4892-A438-444FA18F16B2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>775763A0-A467-4C0E-96C9-FD8192AF83A2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>972C9FB4-D19F-494C-B4D4-79C3054E39F8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9B19ACCA-B24F-43C0-AE88-B9BC44D34449</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>AE077581-924E-4A47-8CA7-C804F5FAF70B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>B379D234-A7DE-429B-AA8A-0295D00A40A9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>alfy</string>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>C802E847-D9E1-4AEE-B4CB-150C888EE0BB</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>CBA1FC96-5250-4108-92BF-CDA798E14435</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>D764FA7A-FE21-4B1C-B0F8-ED2724350435</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>D8C9CCA4-8A3F-4671-97BE-33E28142D52B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>1005</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>D96EC7EE-E86A-4B0A-91B4-119C3F8B15EE</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>E9E62830-E12C-4D4A-805C-72E1153832B4</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>EB5B06B9-0523-4F03-965C-1268E5F88889</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>EE90FFB0-2AFE-47C1-B58F-1852E7C7BE56</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>F5F1AD94-4C74-4BF1-899D-0318CCECD96E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>autocomplete {query}</string>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
		<key>F6C45661-B4CE-427F-950F-7D080B0E8D62</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>autocomplete {query}</string>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>775</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>WORKFLOWS_DIRECTORY</key>
		<string>/Users/dennismuensterer/.dotfiles/alfred/workflows</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://muensterer.xyz</string>
</dict>
</plist>
